<template name="createSheet">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<div class="jumbotron ">
		
			<p id="jumbotron-button">
				<a href="" class="btn btn-primary btn-lg" role="button">
					<i class="fa fa-table"></i> Create a New Sheet &raquo;
				</a>
			</p>

			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					<i class="fa fa-pencil-square-o"></i> Edit a Sheet &raquo;
				</a>
			</p>
		
	</div>
	</div>
</template>

<template name="createSheetJumbotron">
	
</template>

